.topicos {
  background: var(--azul-degrade);
  text-align: center;
  padding: 1.5em 0;
}

.topicos__titulo {
  color: var(--branco);
  font-weight: 300;
  margin-bottom: 1em;
}

.topico__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topico__item {
  margin: 2em 0.5em;
}

.topico__link {
  color: var(--branco);
  padding: 1em;
  background-color: var(--laranja);
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .topicos__titulo {
    font-size: 24px;
  }

  .topico__link:hover {
    background-color: var(--branco);
    color: var(--laranja);
    transition: 0.5s;
  }

  .topico__link {
    font-size: 20px;
  }

  .topico__lista {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 630px;
  }
}

@media screen and (min-width: 1428px) {
  .topicos {
    padding: 3em 25vw;
  }
}
